dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="72cb16cd-dfdb-4552-a9ab-c974b6af2a58" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="441e3788-5dc1-450f-b3eb-bbd88725e944" >
		<http:listener doc:name="Listener" doc:id="e63b8c60-e98e-4974-ade5-4e663f5aaebb" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hi Dummy"]' doc:name="Set Payload" doc:id="7a0addc4-0ff2-48ef-be6e-928c5fb451dc" />
	</flow>
</mule>
